<html>
    <head>
        <title>
            TensorflowDigit
        </title>

        <script type="text/javascript" src="../static/jquery.js" ></script>
        <!--[if IE]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
        <script type="text/javascript" src="../static/drawing.js" ></script>     

    </head>
    <body>
        <table style="margin: auto; padding: 0px;border-spacing: 15px; text-align: center; width: 600px;">
            <tr>
                <td>
                    <h1>TensorflowDigit :</h1>
                    <h1>My First Machine Learning Project</h1>
                </td>
            </tr>

            <tr style="background-color: lightgrey;">
                <td style="text-align: center">
                    <h2>1. Draw a digit on the black canvas below.</h2>
                    <div id="canvasDiv" style="background-color:Black;Width:280px;height:280px;margin:auto"></div>
                </td>
            </tr>
            <tr style="background-color: lightgrey;">
                <td style="text-align: center">
                    <h2>2. Fill in the corresponding label.</h2>
                    <input id="label" type="text"></input>
                </td>
            </tr>
            <tr style="background-color: lightgrey;">
                <td style="text-align: center"> 
                    <h2>3. Hit the 'Add Digit' button.</h2>
                    <button onclick="add_digit('{{ADD_URL}}');" style="font-size: 20px">Add Digit</button>
                </td>
            </tr>
        </table>

		<script type="text/javascript"> 
			$(document).ready(function() {
				initCanvas();
			});
		</script>
    </body>
</html>