<html>
    <head>
        <title>
            MNIST digits
        </title>
        <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script type="text/javascript" src="../static/script.js" ></script>
            
        </script>
    </head>
    <body>
        <input type='file' id="filechooser" onchange="readURL(this);" accept="image/*" />
        <img id="digit" src="#" />
        <button onclick="uploadFile('{{PREDICT_URL}}');">SEND</button>
        <input type="text" id="prediction" value="---" readonly>
    </body>
</html>